@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    color: #F2D399;
    margin: auto;
}

/* Top section including header */

#top {
    display: flex;
    flex-direction: column;
    background-color: #734949;
    padding: 10px;
}

.header {
    display: flex;
    background-color: #734949;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    box-shadow: 0px 2px rgba(192, 192, 192, 0.233); 
}
.header ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.header ul a{
    text-decoration: none;
    color: #F2D399;
}

.logo {
    width: 100px;
}

.hero{
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    gap: 50px;
    padding: 50px 0;
    margin: 20px;
}

.herodesc{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

.herodesc button{
    align-self: flex-start;
    font-size: 24px;
    padding: 10px;
    background-color: #BF7154;
    border-color: #bd7b63;
    color: #F2D399;
    border-radius: 12px;
    box-shadow: 2px 1px rgba(192, 192, 192, 0.233);
}


.splash{
    min-width: 400px;
    max-height: 200px;
    overflow: hidden;
}

/* Keypoints section */

#keypoints{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(44, 22, 22);
    padding: 50px 0px;
}

.pointblockrow{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin: 30px;
}

.pointblock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 150px;
}

.pointblocksquare{
    padding: 20px;
}

.pointicon
{
    width: 120px;
    height: 120px;
}

/* Quote section */

#quotesection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#734949;
}

.quote{
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color:#BF7154;
    padding: 50px;
    max-width: 1000px;
    gap: 50px;
}

.author{
    text-align: right;
}

/* CTA SECTION */

#CTAsection{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(44, 22, 22);
}

.CTAbanner{
    display: flex;
    background-color: #BF3636;
    border-radius: 5px; 
    margin: 50px;
    padding: 25px;
    gap: 20px;

}

.CTAheader{
    font-weight: bold;
    font-size: 24px;
}

.CTAbanner button{
    align-self: flex-start;
    font-size: 24px;
    padding: 10px;
    background-color: #BF7154;
    border-color: #bd7b63;
    color: #F2D399;
    border-radius: 12px;
    box-shadow: 2px 1px rgba(192, 192, 192, 0.233);
}

/* Footer section */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #734949;
    box-shadow: 0px -2px rgba(192, 192, 192, 0.233); 
    padding: 10px;
}

.footertext{
    position: absolute;
    z-index: 999;
    text-align: center;
    color: black;
    max-width: 200px;
    background-color: rgba(255, 255, 255, 0.267);
}